API_KEY=
DEBUG=True

### Este archivo es un EJEMPLO. Para que el programa funcione --> CREA UN ARCHIVO CON EL NOMBRE ".env" y pon tu API KEY de OPEN AI 
en "API_KEY=" . Borra este comentario y y todo lo que no sirva #####
